<div class="col-md-6" ng-model="person" ng-repeat="person in view.person | orderBy: 'lastName'">
    <h1>{{person.firstName}} {{person.lastName}}</h1>
    <p>Phone: {{person.phoneNumber}}</p>
    <p>Email: {{person.email}}</p>
    <button type="button" class="btn" ng-click="view.edit(person)">Edit Contact</button>
    <button type="button" class="btn btn-danger" ng-click="view.remove(person)">Remove Contact</button>
</div>

<div id="editForm" class="hidden">
    <form class="col-md-6" name="contactForm" novalidate>
        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" type="text" name="firstName" ng-model= "view.names.firstName" required/>
            <span ng-show="contactForm.firstName.$dirty && contactForm.firstName.$invalid">First Name is required</span>
            <br>
            <input ng-model="view.names.lastName" class="form-control" type="text" placeholder="Last Name" name="lastName" required/>
            <span ng-show="contactForm.lastName.$dirty && contactForm.lastName.$invalid">Last Name is required</span>
        </div>
        <div class="form-group">
            <label>Phone Number:</label>
            <input ng-model="view.names.phoneNumber" class="form-control" type="text" name="phoneNumber" />
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input ng-model="view.names.email" class="form-control" type="email" name="email" required/>
            <span ng-show="contactForm.email.$dirty && contactForm.email.$invalid">Email is required</span>
        </div>
        <button ng-disabled="contactForm.email.$invalid || contactForm.firstName.$invalid || contactForm.lastName.$invalid" class="btn"
            type="submit" ng-click="view.update(view.names)">Save Changes</button>
    </form>
</div>